/* DEFAULT */
:root {
    --light: rgb(255, 255, 255);
    --dark: rgb(255, 255, 255);
    --lighttext: rgb(0, 0, 0);
    --darktext: rgb(0, 0, 0);
}

.dark{
    background-color: var(--dark);
    color: var(--darktext);
}

.light{
    background-color: var(--light);
    color: var(--lighttext);
}

body{
    background-image:
    linear-gradient(
        to right,
        var(--dark),
        var(--light) 10%,
        var(--light) 90%,
        var(--dark) 100%
    );
    color: var(--lighttext);
}