/* DEFAULT */
:root {
    --light: rgb(255, 255, 255);
    --dark: rgb(255, 255, 255);
    --text: rgb(0, 0, 0);
}

/* ADVENT */
/* :root {
    --light: rgb(200, 0, 200); 
    --dark: rgb(7, 42, 108);
    --text: rgb(200, 200, 100);    
} */

 .dark{
    color: var(--text);
    background-color: var(--dark);
}

.light{
    background-color: var(--light);
}

body{
    background-image:
    linear-gradient(
        to right,
        var(--dark),
        var(--light) 10%,
        var(--light) 90%,
        var(--dark) 100%
    );
}